<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form th:action="@{/api/v1/users/}" method="post" th:object="${user}">
    <label for="username">Username:
        <input id="username" type="text" name="username" th:value="${user.username}">
    </label><br><br>
    <label for="birthDate">BirthDate:
        <input id="birthDate" type="date" name="birthDate" th:value="${user.birthDate}">
    </label><br><br>
    <label for="firstname">Firstname:
        <input id="firstname" type="text" name="firstname" th:value="${user.firstname}">
    </label><br><br>
    <label for="lastname">Lastname:
        <input id="lastname" type="text" name="lastname" th:value="${user.lastname}">
    </label><br><br>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>
    <div>
        <label for="company">Company:
            <select id="company" name="company">
                <option th:each="company : ${companies}"
                        th:value="${company.id}"
                        th:text="${company.name}">
                </option>
            </select>
        </label>
    </div>
    <button type="submit">Update</button>
</form>
</body>
</html>